---
import Logo from './Logo.astro'
import Themetoggle from './Themetoggle.astro'
---

<header>
  <div class="fb items-center">
    <Logo />
    <Themetoggle />
  </div>
  <div class="fi mt-2">
    <span class="gpt-title">却惑</span>
    <span class="gpt-subtitle">几菩提</span>
  </div>
  <br><p mt-4 op-45>菩提本无树，明镜亦非台<br>本来无一物，何处惹尘埃</p>
</header>
